@font-face {
    font-family: 'Grold';
    src: url(../css/imgCadastro/grold-regular.ttf) format('truetype');
  }

*{
    margin: 0 auto;
    padding: 0%;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100vh;
  background-color:#0f161f;/*  */
  text-align: center;
  transition: 0.3s;
  
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 97%;
    width: 95%;
    border-radius: 25px;
    background-color: rgb(26, 26, 26);
}

.dashboard-secundaria{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 0px 25px 25px;
    margin-top: 7.1%;
    height: 87%;
    width: 100%;
    
    background-color: #182432;
}

p{
    display: flex;
    color: #fff;
    font-family: Grold;
    font-size: 17px;
    margin-top: 6%;
    margin-left: 9%;
}

.dash-rank{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25%;
    width: 18%;
    margin-left: 3%;
    margin-top: -31%;
    border-radius: 14px;
    background-color: #0e1420;
}

.RankAtualText{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -35%;
    margin-left: 9%;
    font-weight: 600;
    font-size: 20px;
}

img{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.valorantLogo{
    width: 65px;
    margin-top: -43%;
    margin-left: -86%;
}

span{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -43.5%;
    margin-left: -76%;
    color: #fff;
    font-family: Grold;
    font-size: 17px;

}

.usuario{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -41%;
    margin-left: -71.3%;
    color: red;
    font-family: Grold;
    font-size: 17px;
}

.imgRank{
    display: flex;
    position: absolute;
    margin-top: 2%;
    margin-left: -12%;
    width: 65px;
}

.Radiante{
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 16px;
    font-weight: 100;

    margin-left: -76%;
}

.pdl{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(189, 130, 41);

    font-size: 16px;
    font-weight: 100;
    margin-top: 24%;
    margin-left: -78%;
}

.dashHs{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 24%;
    width: 18%;
    margin-left: -97%;
    margin-top: -6.9%;
    border-radius: 14px;
    background-color: #0e1420;
}

.textPrecisao{
    margin-top: -31%;
    margin-left: 9%;
    font-weight: 600;
    font-size: 20px;
}

.dashArmas{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 41%;
    width: 18%;
    margin-left: -97%;
    margin-top: 24.8%;
    border-radius: 14px;
    background-color: #0e1420;
}


.textArmas{
    margin-top: -70%;
    margin-left: 9%;
    font-weight: 600;
    font-size: 20px;
}

.overview-status{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 26%;
    width: 71.2%;
    margin-left: 18.3%;
    margin-top: -26.9%;
    border-radius: 14px;
    background-color: #0e1420;
}

.textAnalise{
    margin-top: -12.7%;
    margin-left: 1.9%;
    font-weight: 600;
    font-size: 20px;
}

.primeiroQuadrado{
    position: absolute;
    width: 18%;
    height: 64%;

    margin-top: 4%;
    margin-left: -79%;
    border-radius: 14px;
    background-color: #182432;
}

.numeroStatus{
    display: flex;
    position: relative;
    margin-top: 5%;
    margin-left: 10%;
    font-weight: 100;
    font-size: 55px;
    
}

.porcentagemStatus{
    color:green;
    margin-top: 0%;
    margin-left: 12%;
    font-weight: 100;
    font-size: 16px;
}

.porcentagemStatusNeg{
    color:red;
    margin-top: 0%;
    margin-left: 12%;
    font-weight: 100;
    font-size: 16px;
}

.segundoQuadrado{
    position: absolute;
    width: 18%;
    height: 64%;

    margin-top: 4%;
    margin-left: -40%;
    border-radius: 14px;
    background-color: #182432;
}

.terceiroQuadrado{
    position: absolute;
    width: 18%;
    height: 64%;

    margin-top: 4%;
    margin-left: -0.7%;
    border-radius: 14px;
    background-color: #182432;
}

.quartoQuadrado{
    position: absolute;
    width: 18%;
    height: 64%;

    margin-top: 4%;
    margin-left: 38.9%;
    border-radius: 14px;
    background-color: #182432;
}

.iptVitorias{
    position: relative;
    border: none;
    margin-top: 3%;
    width: 60%;
    height: 40%;
    background-color:#0f161f ;
    border-radius: 5px;
    color: #fff;
    font-size: 50px;
    padding-left: 12%;

}

.porcentagemWins{
    color:green;
    margin-top: 2%;
    margin-left: 0%;
    font-weight: 100;
    font-size: 16px;
}

.cincoQuadrado{
    position: absolute;
    width: 18%;
    height: 64%;

    margin-top: 4%;
    margin-left: 78.4%;
    border-radius: 14px;
    background-color: #182432;
}

.iptPartidas{
    position: relative;
    border: none;
    margin-top: 3%;
    width: 60%;
    height: 40%;
    background-color:#0f161f ;
    border-radius: 5px;
    color: #fff;
    font-size: 50px;
    padding-left: 12%;
}

.porcentagemPartidaTotal{
    color:green;
    margin-top: 6%;
    margin-left: 11%;
    font-weight: 100;
    font-size: 16px;
}

.graficos{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 52.6%;
    width: 32%;
    margin-left: -21%;
    margin-top: 14.6%;
    border-radius: 14px;
    background-color: #0e1420;
}

.ultimasPartidas{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 52.6%;
    width: 38%;
    margin-left: 51.3%;
    margin-top: 14.6%;
    border-radius: 14px;
    background-color: #0e1420;
}

.textoUltimasPartidas{
    position: fixed;
    font-size: 22px;
    margin-top: -22.5%;
    margin-left: -25%;
}

.primeiraPartida{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 19%;
    width: 100%;
    margin-top: -36%;
    background-image: linear-gradient(to right, #053529 , #0f1721);
}

.segundaPartida{
   
    
    justify-content: center;
    align-items: center;
    height: 19%;
    width: 100%;
    margin-top: -7.4%;
    background-image: linear-gradient(to right, #370A0D , #0f1721);
}

.terceiraPartida{
    position: absolute;
    
    justify-content: center;
    align-items: center;
    height: 19%;
    width: 100%;
    margin-top: 21.4%;
    background-image: linear-gradient(to right, #370A0D , #0f1721);
}

.quartaPartida{
    position: absolute;
    
    justify-content: center;
    align-items: center;
    height: 19%;
    width: 100%;
    margin-top: 50.4%;
    background-image: linear-gradient(to right, #053529 , #0f1721);
}